@charset "UTF-8";

/* reset */
@import "_reset.scss";
@import "_header.scss";
@import "_mixin.scss";
@import "_common.scss";
@import "_swiper.scss"; 

.inner {
    width: 100%;
    min-width: 1024px;
    max-width: 1280px;
    box-sizing: border-box;
    //transition: 0.4s;
    padding: 0; 
    margin: 0 auto; 
  } 
  
  
  .skip_navigation {
    position: absolute;
    left: -999px;
    top: -999px;
    z-index: 1;
  }


/*───────────────────────────────────────────────────────────
	 SUB
───────────────────────────────────────────────────────────*/
	/* contact */

/*───────────────────────────────────────────────────────────
	 MAIN 190514
───────────────────────────────────────────────────────────*/
.visual_wrap_pc {
    display: block;
  }
  

  
  .visual_wrap {
    width: 100%;
    padding-top: 110px;
    height: 710px;
    overflow: hidden;
  
    ul li {
      position: relative;
      background-size: cover !important;
  
      .visual_txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
  
        p {
          width: 55%;
          margin: 0 auto;
          color: #ffffff;
          font-family: 'Noto Sans KR';
          text-align: center;
          margin: 0 auto;
          letter-spacing: 0px;
          line-height: 40px;
          font-size: 40px;
          font-weight: 300;
  
          strong {
            display: inline-block;
            font-size: 40px;
            line-height: 40px;
            padding-bottom: 30px;
  
            /* margin-bottom:60px; */
  
            letter-spacing: 0px;
            font-weight: 700;
            position: relative;
          }
  
          b {
            font-weight: 600;
            opacity: 0.5;
            font-size: 36px;
            letter-spacing: 6px;
          }
  
          em {
            font-size: 14px;
            line-height: 18px;
            padding-top: 30px;
            padding-bottom: 10px;
            display: block;
            position: relative;
            display: inline-block;
  
            &:after {
              /* content:''; */
  
              display: block;
              position: absolute;
              width: 100%;
              height: 1px;
              background: #fff;
              bottom: 0;
            }
          }
        }
      }
  
      &.visual01 {
        background: url('../images/main/re_main_visual01.jpg') no-repeat center top;
      }
  
      &.visual02 {
        background: url('../images/main/re_main_visual02.jpg') no-repeat center top;
      }
  
      &.visual03 {
        background: url('../images/main/re_main_visual03.jpg') no-repeat center top;
      }

      &.visual04 {
        background: url('../images/main/re_main_visual04.jpg') no-repeat center top;
      }
      &.visual05 {
        background: url('../images/main/re_main_visual05.jpg') no-repeat center top;
      }
    }
  
    .slick-dots {
      position: absolute;
      width: auto;
      height: 20px;
      text-align: center;
      bottom: 20px;
      left: 50%;
      margin-left: -27px;
  
      li {
        display: inline-block;
        float: left;
        height: auto;
        margin: 0 5px;
  
        &.slick-active {}
  
        button {
          width: 10px;
          height: 10px;
          background: #fff;
          font-size: 0;
          border-radius: 100%;
          opacity: 0.4;
        }
  
        &.slick-active button {
          opacity: 1;
        }
      }
    }
  
    ul li video {
      position: absolute;
      top: 0px;
      left: 0px;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1000;
      overflow: hidden;
      position: absolute;
      top: 0px;
      left: 0px;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1000;
      overflow: hidden;
    }
  }
	/* 메인 비주얼 영역 */

		/* 191217 비주얼 변경 */
        .main_cont_wrap .visual_wrap {
            padding-top: 0;
            position: relative;
          
            ul li {
              &.slick-slide {
                height: 100vh !important;
          
                .img {
                  height: 100vh !important;
                  overflow: hidden;
                }
          
                overflow: hidden;
              }
          
              //background: none;
              
            }
          
            overflow: hidden;
          
            .txt {
              position: absolute;
              left: 50%;
              top: 50%;
              width: auto;
              text-align: center;
              transform: translate(-50%, -50%);
              margin-top: -13px;
          
              strong {
                display: block;
                letter-spacing: 20px;
                font-size: 90px;
                line-height: 90px;
                color: #fff;
                text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
                //transition: 0.4s;
                text-align: center;
              }
          
              a, p {
                text-align: center;
              }
          
              a {
                display: block;
                width: 170px; margin:5% auto 0;
                position: relative; padding: 10px; 
                font-size:30px;
                color: #fff;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: all 500ms cubic-bezier(0.77,0,0.175,1 );
                box-sizing: border-box;
                &:before,
                &:after{ content: ''; position: absolute; transition: inherit; z-index: -1; left: 0; height: 0;  width: 100%;}
                &:before{  bottom: 0;	border: 1px solid #fff; border-top: 0;	border-bottom: 0; }
                &:after{  top:0; height: 0; }
                &:hover{ color: #010101; transition-delay: .5s; }
                &:hover{
                  &:before,
                  &:after{ height: 100%; }
                  &:before{ transition-delay: 0s;  }
                  &:after{ background: #fff; transition-delay: .35s;}
                  
                }
                // display: inline-block;
                // width: 170px;
                // line-height: 52px;
                // border: 1px solid #fff;
                // box-sizing: border-box;
                // font-size: 16px;
                // color: #ffffff;
                // text-align: left;
                // text-indent: 30px;
                // background: transparent url('../images/main/mainvisual_more_arw.png') no-repeat 120px;
                // margin: 11.6% auto 0;
              }
          
              .sub__text-box{ margin-top: 30px; height: 44px; overflow: hidden;
                span{ position: relative; font-size:32px; color: #fff;}
              }
          
              strong:hover {
                color: #fff;
                transition: 0.4s;
              }
            }
          }
          @supports (text-stroke: 2px black) or (-webkit-text-stroke: 2px black) {
            .main_cont_wrap .visual_wrap .txt{
              .title__box{  height: 92px; overflow: hidden;
                strong{ position: relative;
                  color: transparent;
                  -webkit-text-stroke: 2px #fff;
                  text-stroke: 2px #fff;
                  text-shadow: none;
                }
              }
            
            }
          }

          .main_cont_wrap .visual_wrap{
            .slick-arrow {
              font-size: 0;
              text-indent: -9999px;
              overflow: hidden;
            }
          
            .slider-progress-wrap {
              height: 5px;
              width: 100%;
              left: 0;
              bottom:0;
              position: absolute;
              z-index: 5;
              text-align: center;
                .progress {
                    width: inherit;
                    height: inherit;
                    background: #de0000;
                }
            }
          
       
            .slick-counter {
              display: inline-block;
              vertical-align: middle;
              padding-left: 12px;
              width: 50px;
              box-sizing: border-box;
          
              span {
                display: inline-block;
                vertical-align: top;
                letter-spacing: -1px;
                font-size: 16px;
                line-height: 16px;
                color: #fff;
                font-weight: 600;
              }
          
              font-size: 16px;
              line-height: 16px;
              color: #fff;
              font-weight: 600;
            }
          
          }
          @keyframes scroll_move {
            0% {
              bottom: 10px;
            }
          
            100% {
              bottom: 25px;
            }
          }
 
		/* 200129 수정 */
        .port_cont_wrap {
            margin: 0;
            text-align: center;
            padding: 80px 0 107px;

            .port_title {
              padding: 3.6% 0px 3.1%;
          
              h3, .sub_tit {
                text-align: center;
              }
          
              h3 {
                display: block;
                font-size: 40px;
                line-height: 40px;
                color: #333333;
                font-weight: 500;
              }
          
              .sub_tit {
                font-size: 16px;
                line-height: 16px;
                color: #888888;
                margin-top: 22px;
              }
            }
          
            ul {
              font-size: 0;
              padding: 0;
              width: calc(100% + 2px);
              margin-left: -2px;
              padding: 0 36px 35px 0;
              box-sizing: border-box;
              text-align: center;
          
              li {
                display: inline-block;
                vertical-align: top;
                overflow: hidden;
                width: calc(25% - 2px);
                margin-bottom: 2px;
                margin-left: 2px;
                position: relative;
          
                &:nth-of-type(n+13) {
                  display: none;
                }
          
                a {
                    vertical-align: top;
                    position: relative;
                    z-index: 1;
                    display: inline-block;
                    width: 100%;
                    height: auto;
                  img {
                    z-index: 1;
                    vertical-align: top;
                    width: 100%;
                    height: auto;
                    opacity: 0;
                    //transition: 0.8s;
                  }
          
                  .txt {
                    width: calc(100% - 100px);
                    height: calc(100% - 100px);
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background: rgba(255, 255, 255, 0.8);
                    position: absolute;
                    display: table;
                    opacity: 0;
                    //transition: 0.4s;
                    z-index: 1;
          
                    p {
                      background: transparent;
                      display: table-cell;
                      vertical-align: middle;
                      height: auto;
                      position: static;
                      font-size: 0;
                      line-height: inherit;
                      padding: 10px 20px;
          
                      .engTitle {
                        border-bottom: 1px solid #fff;
                        border-bottom: 0;
                        padding-bottom: 0;
                        height: auto;
          
                        em {
                          font-size: 24px;
                          line-height: 28px;
                          color: #333333;
                        }
                      }
          
                      .title {
                        margin-top: 16px;
                        padding-top: 22px;
                        position: relative;
          
                        &:before {
                          content: "";
                          display: block;
                          position: absolute;
                          left: 50%;
                          margin-left: -20px;
                          background: #ff0000;
                          top: 0;
                          width: 40px;
                          height: 1px;
                        }
          
                        em {
                          font-size: 16px;
                          line-height: 16px;
                          color: #333333;
                        }
                      }
          
                      .engTitle em, .title em {
                        text-align: center;
                        font-weight: 400;
                        display: block;
                      }
                    }
                  }
                }
          
                &:hover a {
                  .txt {
                    opacity: 1;
                  }
          
                  img { 
                    transform: scale(1.2);
                    transition: 0.8s;
                    filter: blur(2px);
                    -webkit-filter: blur(2px);
                     -moz-filter: blur(2px);
                    -o-filter: blur(2px);
                  }
          
                  &:after {
                    content: "";
                    display: block;
                    background: #000;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    opacity: 0.2;
                    z-index: 0;
                  }
                }
              }
            }
          }

	/* 계약건수 */
    .main_counter {
        background: #333;
      
        ul {
          font-size: 0;
          padding-top: 64px;
          padding-bottom: 84px;
      
          li {
            display: inline-block;
            vertical-align: top;
            text-align: center;
            padding-top: 104px;
            width: 25%;
      
            + li {}
      
            &.counter1 {
              background: url(../images/main/icon_count01.png) no-repeat 50% 0;
              background-size: auto 60px;
            }
      
            &.counter2 {
              background: url(../images/main/icon_count02.png) no-repeat 50% 0;
              background-size: auto 60px;
            }
       
            &.counter3 {
              background: url(../images/main/icon_count03.png) no-repeat 50% 0;
              background-size: auto 60px;
            }
      
            &.counter4 {
              background: url(../images/main/icon_count04.png) no-repeat 50% 0;
              background-size: auto 60px;
            }
      
            p {
              font-family: 'Noto Sans KR';
              color: #fff;
              font-weight: 400;
              line-height: 27px;
              font-size: 20px;
      
              strong {
                display: inline-block;
                width: 100%;
                font-family: 'Lato';
                padding-bottom: 16px;
                font-weight: 700;
                line-height: 64px;
                font-size: 60px;
              }
            }
          }
        }
      }

	/* 파트너사 */
    .main_counter {
        background: #333;
      
        ul {
          font-size: 0;
          padding-top: 64px;
          padding-bottom: 84px;
      
          li {
            display: inline-block;
            vertical-align: top;
            text-align: center;
            padding-top: 104px;
            width: 25%;
      
            &.counter1 {
              background: url(../image/main/icon_count01.png) no-repeat 50% 0;
              background-size: auto 60px;
            }
      
            &.counter2 {
              background: url(../image/main/icon_count02.png) no-repeat 50% 0;
              background-size: auto 60px;
            }
      
            &.counter3 {
              background: url(../image/main/icon_count03.png) no-repeat 50% 0;
              background-size: auto 60px;
            }
      
            &.counter4 {
              background: url(../image/main/icon_count04.png) no-repeat 50% 0;
              background-size: auto 60px;
            }
      
            p {
              font-family: 'Noto Sans KR';
              color: #fff;
              font-weight: 400;
              line-height: 27px;
              font-size: 20px;
      
              strong {
                display: inline-block;
                width: 100%;
                font-family: 'Lato';
                padding-bottom: 16px;
                font-weight: 700;
                line-height: 64px; 
              }
            }
          }
        }
      }
/* CONTENT  */

#content{ background: #92bde7;
  .inner{ @include contentsInner; padding:50px 0;
    .content_box{  background: #fff; box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
      .form_box{ padding:20px;
          em{ display: block; margin:10px 0; font-size:30px;  font-family: "Metal"; font-weight: bold;  } 
          .form_list{ 
            li{ width: 50%; float: left;}
            &:after{ @include clear; }
          }
      }
    }
  }
}